html {
    font-family:'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color:black;
}

header {
    height:70px;
    width:98%;
    margin:auto;
    margin-bottom: 10px;
}

.greenspace {
    background-color: #7A907C;
    height:10px;
    width:98%;
    margin:auto;
    margin-bottom: 5px;
}

.texthead {
    font-size:15px;
    margin-top:0px;
    margin-bottom:0px;
    position:absolute;
    top:40px;
    left:40%;
}

.logo {
    height:auto;
    max-width:85px;
    position:absolute;
    top:28px;
    left:25px;
    margin-right:15px;
}

nav {
    margin:auto;
    overflow:hidden;
    background-color:rgb(122,144,124);
    width:98%;
    position: sticky;
    top:0;
    z-index:1;
}

nav a {
    float:left;
    color:black;
    text-align:center;
    padding:14px 10px;
    font-size:15px;
    text-decoration:none;
}

nav a:hover {
    color:white;
}

nav a.aktiv {
    color:white;
}

main {
    height:1180px;
    width:98%;
    margin:auto;
}

#mainheste {
    height:3300px;
}

#omosmain {
    height:1050px;
}

#kontaktmain {
    height:975px;
}

@media only screen and (min-width:375px) {
    #mainheste {
        height:3650px;
    }
}

.forsidebillede {
    height:auto;
    width:100%;
    margin:auto;
    margin-top:10px;
}

.alleheste {
    height:auto;
    width:100%;
    margin-top:10px;
}

.omos {
    height:auto;
    width:100%;
    margin-top:5px;
}

.kontaktos {
    height:auto;
    width:100%;
    margin-top:5px;
}

.textbox {
    height:250px;
    width:100%;
    margin:auto;
    font-size:15px;
}

#hestetextbox {
    text-align: center;
    color: rgb(122,144,124);
    font-weight: 700;
    font-size:20px;
    margin-top:5px;
}

#omrideskoleheste {
    margin-bottom: 140px;
}

#video {
    width:560;
    height:315;
    position:absolute;
    top:840px;
}

@media only screen and (min-width:375px) {
    #video {
        left:37px;
    } 
}

#omostext {
    margin-bottom:130px;
}

.columbia {
    height:auto;
    width:100%;
}

.boxcolumbia {
    padding:5px;
    border: 3px solid rgb(122,144,124);
    margin-bottom:5px;
}

.goldie {
    height:auto;
    width:100%;
}

.boxgoldie {
    padding:5px;
    border: 3px solid rgb(122,144,124);
    margin-bottom:5px;
}

.julie {
    height:auto;
    width:100%;
}

.boxjulie {
    padding:5px;
    border: 3px solid rgb(122,144,124);
    margin-bottom:5px;
}

.cayenne {
    height:auto;
    width:100%;
}

.boxcayenne {
    padding:5px;
    border: 3px solid rgb(122,144,124);
    margin-bottom:5px;
}

.solo {
    height:auto;
    width:100%;
}

.boxsolo {
    padding:5px;
    border: 3px solid rgb(122,144,124);
    margin-bottom:5px;
}

.angel {
    height:auto;
    width:100%;
}

.boxangel {
    padding:5px;
    border: 3px solid rgb(122,144,124);
    margin-bottom:5px;
}

.textbox2 {
    position:absolute;
    color: rgb(122,144,124);
    height:95px;
    width:90%;
    top:710px;
    font-size:15px;
    text-align: center;
    margin:auto;
    border: 5px solid #7A907C
}

#textbox2hest {
    top:480px;
}

@media only screen and (min-width:375px) {
    #textbox2hest {
        top:495px;
    }
}

#textbox2omos {
    top:760px;
}

#textbox2kontakt {
    top:670px;
}

@media only screen and (min-width:375px) {
    #textbox2omos {
        top:730px;
    }
}

.textbox2:hover {
    color:white;
    background-color:rgb(122,144,124);
}

h2 {
    text-align: center;
    color:rgb(122,144,124);
    font-size:30px;
    margin-top:10px;
}

h1 {
    margin-top:5px;
    margin-bottom: 5px;
    font-size:20px;
}

#googlemap {
    position:absolute;
    top:1010px;
    margin:auto;
    height:300px;
    width:93%;
    border:0;
    z-index:-1;
}

#googlemapkontakt {
    position:absolute;
    top:800px;
    margin:auto;
    height:300px;
    width:93%;
    border:0;
    z-index:-1;
}

footer {
    width:98%;
    height:215px;
    background-color:rgb(122,144,124);
    background-color:rgb(122,144,124, 0.5);
    margin:auto;
}

.foottext {
    text-align: center;
    margin:0px;
    padding-top:25px;
}

@media only screen and (min-width: 525px){
    .greenspace {
        width:80%;
    }
    
    header {
        height:130px;
        width:80%;
    }

    .texthead {
        font-size:25px;
        top:50px;
        position:absolute;
        left:40%;
    }    
    
    .logo {
        left:110px;
        max-width:150px;
    }
    
    nav {
        width:80%;
    }
    
    nav a{
        font-size: 20px;
    }
    
    h2 {
        text-align: left;
    }
    
    h1 {
        font-size:30px;
    }
    
    .textbox{
        width:320px;
        margin:0px;
    }
    
    .textbox2 {
        width:210px;
        height:150px;
        top:700px;
        right:13%;
        padding:5px;
    }
    
    #textbox2hest {
        top:530px;
        width:220px;
        height:100px;
    }
    
    #textbox2kontakt {
        top:600px;
        width:250px;
        height:100px;
    }
    
    #textbox2omos {
        height:90px;
        width:250px;
        top:780px;
        left:10%;
    }
    
    main {
        height:1500px;
        width:80%;
    }
    
    #mainheste {
        height:4800px;
    }
    
    #omrideskoleheste {
        width:320px;
        margin-left: 10px;
        margin-bottom:20px;
    }
    
    #video {
        height:300px;
        width:500px;
        top:990px;
        left:130px;
    }
    
    @media only screen and (min-width: 930px) {
        #video {
            top:900px;
            left:115px;
            height:500px;
            width:700px;
        }
        
        .textbox {
            width:700px;
            margin-left: auto;
            margin-right:auto;
        }
    }
    
    @media only screen and (min-width:977px) {
        #video {
            top:950px;
            left:150px;
        }
    }
    
    #hestetextbox {
        font-size:30px;
    }
    
    #googlemap {
        width:600px;
        height:300px;
        top:1350px;
        right:11%;
    }
    
    #googlemapkontakt {
        width:78%;
        top:830px;
    }
    
    footer {
        width:80%;
    }
}

@media only screen and (min-width: 860px){
    .greenspace {
        width:80%;
    }
    
    header {
        height:130px;
        width:80%;
    }

    .texthead {
        font-size:25px;
        top:50px;
        position:absolute;
        left:30%;
    }    
    
    .logo {
        left:140px;
        max-width:150px;
    }
    
    nav {
        width:80%;
    }
    
    nav a{
        font-size: 20px;
    }
    
    #omostext {
        margin-bottom: 0px;
    }
    
    .textbox2 {
        width:250px;
        height:100px;
        top:30px;
        right:15%
    }
    
    #textbox2omos {
        top:30px;
        left:60%
    }
    
    #textbox2hest {
        top:30px;
        right:15%;
    }
    
    #textbox2kontakt {
        top:30px;
        right:15%
    }
    
    #googlemap {
        width:79%;
        top:1500px;
        left:10.5%;
    }
    
    #googlemapkontakt {
        top:1100px;
    }
    
    main {
        height:1600px;
        width:80%;
    }
    
    #kontaktmain {
        height:1200px;
    }
    
    #mainheste {
        height:2400px;
    }
    
    #omrideskoleheste {
        width:500px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:20px;
        text-align: center;
    }
    
    .boxcolumbia {
        height:555px;
        width:47%;
        float:left;
        margin-bottom: 8px;
    }
    
    .columbia {
        margin:0px;
    }
    
    .boxgoldie {
        height:555px;
        width:47%;
        float:right;
        margin-bottom:8px;
    }
    
    .boxjulie {
        height:555px;
        width:47%;
        float:left;
        margin-bottom:8px;
    }
    
    .boxcayenne {
        height:555px;
        width:47%;
        float:right;
        margin-bottom:8px;
    }
    
    .boxsolo {
        height:555px;
        width:47%;
        float:left;
        margin-bottom:5px;
    }
    
    .boxangel {
        height:555px;
        width:47%;
        float:right;
        padding:5px;
        margin-bottom:5px;
    }
    
    .rideskolehestetekst {
        margin-bottom: 5px;
        margin-top:5px;
    }
    
    footer {
        width:80%;
    }
}

 @media only screen and (min-width: 1050px) {
    .boxcolumbia {
        height:660px;
    }
    
    .columbia {
        margin:0px;
    }
    
    .boxgoldie {
        height:660px;
    }
    
    .boxjulie {
        height:660px;
    }
    
    .boxcayenne {
        height:660px;
    }
    
    .boxsolo {
        height:660px;
    }
    
    .boxangel {
        height:660px;
    } 
     
     #mainheste {
         height:2800px;
     }
     
     #video {
         top:1030px;
         height:450px;
         left:230px;
     }
}

@media only screen and (min-width:414px) and (max-width:450px) {
    #textbox2omos {
        top:710px;
    }
}

@media only screen and (min-width: 1260px) {
    #video {
        top:1050px;
        left:290px;
    }
}

@media only screen and (min-width:1290px) {
    #video {
        top:1100px;
        left:350px;
    }
    
    main {
        height:1900px;
    }
    
    #googlemap {
        top:1800px;
    }
}