html {
    font-family:'Roboto', sans-serif;;
}

header {
    height:80px;
    width:98%;
    margin:auto;
    margin-bottom:5px;
}

.texthead {
    font-size:15px;
    margin-top:0px;
    margin-bottom:0px;
    position:absolute;
    top:4%;
    left:29%;
}

.logo {
    height:auto;
    width:20%;
    position:absolute;
    top:3%;
    left:6%;
}

nav {
    height:50px;
    width:18%;
    background-color: lightgrey;
    position: absolute;
    top:20px;
    right:11px;
    font-size:10px;
    text-align: center;
}

main {
    height:900px;
    width:98%;
    margin:auto;
    
}
.picture {
    background-color: black;
    height:250px;
    width:100%;
    margin:auto;
}

.textbox {
    height:250px;
    width:100%;
    margin:auto;
    font-size:15px;
}

.textbox2 {
    position:absolute;
    background-color: black;
    color: white;
    height:80px;
    width:90%;
    top:690px;
    font-size:15px;
    text-align: center;
    margin-left:2%;
}

h2 {
    text-align: center;
}

footer {
    width:98%;
    height:100px;
    background-color: burlywood;
    margin:auto;
    font-size: 15px;
    text-align: center;
}